.content {
  max-height: max-content;
  width: 80%;
  margin: 26px auto 0 auto;
  display: flex;
  flex-direction: column;
}

/* 描述盒——开始 */
.descriptionBox {
  display: flex;
  height: 45px;
  font-size: 20px;
  width: 100%;
  color: white;
  background: linear-gradient(to right, #5bd990, #42c946);
  margin-bottom: 10px;
}

.descriptionBoxTitle {
  border-right: white 2px solid;
  height: 100%;
  width: 10%;
  min-width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background: linear-gradient(to left, #5ab1ec, #3498DB);
}

.descriptionBoxContent {
  margin-right: 10px;
  height: 100%;
  width: 30%;
  min-width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-style: italic;
}
/* 描述盒——结束 */

/* 走进桂林——开始 */
.understand {
  margin-bottom: 15px;
}

.understandDetail {
  display: flex;
}

.understandDetailList {
  background-color: #333;
  color: white;
  width: 10%;
  text-align: center;
  min-width: max-content;
}

.understandDetailList li {
  list-style: none;
}

.understandDetailList a {
  color: white;
}

.understandDetailList div {
  font-size: 17px;
  padding: 25px 0;
  border-bottom: #777777 1px solid;
}

.understandDetailList div:hover {
  background-color: #f8f9fa;
  color: #333;
}

.understandDetailCarousel {
  height: 293px;
  width: 50%;
}

.understandDetailPhotosSet {
  width: 40%;
}
/* 走进桂林——结束 */

/* 桂林简介——开始 */
.introduce {
  margin-bottom: 15px;
}
/* 桂林简介——结束 */

/* 桂林历史——开始 */
.history {
  margin-bottom: 15px;
}
/* 桂林简介——结束 */

/* 著名景点——开始 */
.sceneries {
  margin-bottom: 15px;
}
/* 著名景点——结束 */
