.content {
  max-height: max-content;
  width: 70%;
  margin: 26px auto 0 auto;
  display: flex;
  flex-direction: column;
}

/* 描述盒——开始 */
.descriptionBox {
  display: flex;
  height: 45px;
  font-size: 20px;
  width: 100%;
  color: white;
  background-color: #34b585;
}

.descriptionBoxTitle {
  border-right: white 2px solid;
  height: 100%;
  width: 10%;
  min-width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: #34b585;
}

.descriptionBoxContent {
  margin-right: 10px;
  height: 100%;
  width: 30%;
  min-width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-style: italic;
}
/* 描述盒——结束 */

/* 桂林印象——开始 */
.impression {
  margin-bottom: 15px;
  scroll-margin-top: 64px;
  border-radius: 10px;
  overflow: hidden;
}

.impressionDetail {
  display: flex;
}

.impressionDetailCarousel {
  width: 55%;
}

.impressionDetailPhotosSet {
  width: 45%;
}
/* 桂林印象——结束 */

/* 桂林简介——开始 */
.introduce {
  margin-bottom: 15px;
  scroll-margin-top: 64px;
  border-radius: 10px;
  overflow: hidden;
}

.introduceDetail {
  background-color: white;
  padding: 20px 25px 5px 25px;
}

.introduceThreeTreasures {
  color: #34b585;
}

.introduceThreeTreasures:hover {
  cursor: pointer;
}
/* 桂林简介——结束 */

/* 桂林历史——开始 */
.history {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 15px;
  scroll-margin-top: 64px;
}

.historyDetail {
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.historyDescription {
  background-color: #fafafa;
  border: 1px dashed;
  border-radius: 10px;
  padding: 15px 15px 0 15px;
}
/* 桂林简介——结束 */

/* 著名景点——开始 */
.sceneries {
  margin-bottom: 15px;
  scroll-margin-top: 64px;
  border-radius: 10px;
  overflow: hidden;
}

.sceneriesDetail {
  background-color: white;
  padding: 0 20px 20px 20px;
}
/* 著名景点——结束 */
