.content {
  max-height: max-content;
  width: 80%;
  margin: 26px auto 0 auto;
  display: flex;
  flex-direction: column;
}

/* 描述盒——开始 */
.descriptionBox {
  display: flex;
  height: 45px;
  font-size: 20px;
  width: 100%;
  color: white;
  background: linear-gradient(to right, #5bd990, #42c946);
}

.descriptionBoxTitle {
  border-right: white 2px solid;
  height: 100%;
  width: 10%;
  min-width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background: linear-gradient(to left, #5ab1ec, #3498DB);
}

.descriptionBoxContent {
  margin-right: 10px;
  height: 100%;
  width: 30%;
  min-width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-style: italic;
}
/* 描述盒——结束 */

/* 桂林印象——开始 */
.impression {
  margin-bottom: 15px;
}

.impressionDetail {
  display: flex;
}

.impressionDetailList {
  background-color: #333;
  color: white;
  width: 10%;
  text-align: center;
  min-width: max-content;
}

.impressionDetailList li {
  list-style: none;
}

.impressionDetailList a {
  color: white;
}

.impressionDetailList div {
  font-size: 17px;
  padding: 25px 0;
  border-bottom: #777777 1px solid;
}

.impressionDetailList div:hover {
  background-color: #f8f9fa;
  color: #333;
}

.impressionDetailCarousel {
  height: 293px;
  width: 50%;
}

.impressionDetailPhotosSet {
  width: 40%;
}
/* 桂林印象——结束 */

/* 桂林简介——开始 */
.introduce {
  margin-bottom: 15px;
}

.introduceDetail {
  background-color: white;
  padding: 20px 25px 5px 25px;
}

.introduceThreeTreasures {
  color: #1677ff;
}

.introduceThreeTreasures:hover {
  cursor: pointer;
}
/* 桂林简介——结束 */

/* 桂林历史——开始 */
.history {
  margin-bottom: 15px;
}

.historyDetail {
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.historyDescription {
  background-color: #fafafa;
  border: 1px dashed;
  border-radius: 10px;
  padding: 15px 15px 0 15px;
}
/* 桂林简介——结束 */

/* 著名景点——开始 */
.sceneries {
  margin-bottom: 15px;
}

.sceneriesDetail {
 background-color: white;
  padding: 0 20px 20px 20px;
}
/* 著名景点——结束 */
