.content {
  width: 65%;
  margin: 26px auto 0 auto;
  border-radius: 10px;
  overflow: hidden;
}

.title {
  background-color: #34b585;
  color: white;
  padding: 13px 0;
  font-size: 21px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail {
  padding: 35px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.detail > * {
  margin-bottom: 20px;
}